body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.main {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: flex-start;
  background: #444444;
  width: 1127px;
  height: 595px;
  border-radius: 30px;
}

.portfolio__cv {
  flex-grow: 1;
  height: 100%;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.protfolio__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 3;
  height: 595px;
  border-radius: 30px;
  background: #222222;
}

.cv__header {
    
}

.cv__main {
  display: flex;
  flex-grow: 3;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.cv__name {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 44px;
  color: #ffffff;
}

.cv__job {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-top: 8px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}

.cv__footer {
  justify-self: flex-end;
  flex-grow: 0;
  margin-bottom: 16px;
}

.cv__footer_text {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.cv__download {
  justify-items: center;
  width: fit-content;
  padding: 2% 5%;
  background-color: #444444;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 40px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-align: center;

  color: #ffffff;
  transition: background-color 0.5s, padding 0.5s, font-size 0.5s;
}

.cv__button_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
}

.cv__avatar {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  background: #c4c4c4;
}

 .protfolio__content:first-child {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 71px;
  text-align: center;

  color: #ffffff;
}

.protfolio__content:last-child {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  text-align: center;

  color: #ffffff;
} 

.cv__download:hover {
    padding: 3% 7%;
  background-color: #313131;
  font-size: 21px;
  transition: background-color 0.5s, padding 0.5s, font-size 0.5s;
}