@import 'reset.scss';

:root {
  --main-color-left: #444444;
  --main-color-right: #222222;
  --main-color-text: white;
  --main-background-color: white;
}

.dark:root {
  --main-color-left: white;
  --main-color-right: #CEBCBCFF;
  --main-color-text: black;
  --main-background-color: black;
}

html, body{
  min-height: 100vh;
}
body {
  margin: 0;
  background-color: var(--main-background-color, white);
  font-family: Helvetica, serif, sans-serif;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--main-color-left, #222222);
  width: 1127px;
  height: 595px;
  border-radius: 30px;
}

.cv {
  flex-grow: 1;
  height: 100%;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 4.6;
  height: 595px;
  border-radius: 30px;
  background-color: var(--main-color-right, #444444);
}

.content__header {
  font-size: 40pt;
  margin-bottom: 20px;
}

.cv__main {
  display: flex;
  flex-grow: 3;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
}

.cv__name {

  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  margin-top: -20px;

  color: var(--main-color-text, white);
}

.cv__job {
  font-style: normal;
  font-weight: normal;
  margin-top: -20px;
  font-size: 20px;
  text-align: center;
  color: var(--main-color-text, white);
}

.cv-footer {
  justify-self: flex-end;
  flex-grow: 0;
  margin-bottom: 16px;
}

.cv-footer__text {
  font-size: 14px;
  color: var(--main-color-text, white);
}

.cv__button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 100%;
}

.cv__avatar-img, .cv__avatar {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin-top: 10%;
}


.content:last-child {
  font-size: 22px;
  text-align: center;
  color: var(--main-color-text, white);
}

.cv__links {
  display: flex;
  width: 100%;
  margin-top: -20px;
  justify-content: center;
}

.cv__links-item {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background: #C4C4C4;
  display: block;
  border-radius: 50%;
}
.cv__button {
  justify-items: center;
  width: fit-content;
  padding: 2% 5%;
  background-color: var(--main-color-left, #444444);
  border: 3px solid var(--main-color-text, white);
  box-sizing: border-box;
  border-radius: 40px;
  font-size: 17px;
  text-align: center;

  color: var(--main-color-text, white);
  transition: background-color 0.5s, padding 0.5s, font-size 0.5s;
}
.cv__button {
  &:hover {
    background-color: var(--main-color-right);
    transition: background-color 0.5s;
  }
}